@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'adaptive';

* {
    margin: 0;
    padding: 0;
}

.videoblog {
    width: 100%;
    max-width: 1136px;
    margin: 0 auto;

    & .videoblog__title {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.03em;
        text-align: center;

        & .title-orange {
            color: #FD9222;
            text-transform: uppercase;
        }
    }

    .videoblog__container {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        padding:0 20px 0 20px;

        & .videoblog__container--image {
            background-image: url("./final.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            max-width: 600px;
            width: 100%;
            height: 400px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .videoblog__container--content {
            max-width: 516px;
            background-color: #fff;
            border-radius: 15px;

            & .videoblog__container--content--title {
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
                text-align: left;
                color: #111111;
                padding-left: 32px;
                padding-top: 32px;
                padding-bottom: 28px;
                width: 350px;
            }

            .videoblog__container--content--ul {
                max-width: 415px;
                padding-left: 52px;
                color: #4C4C4C;

                & .videoblog__container--content--text {
                    margin-bottom: 24px;


                    & .li-text {
                        color: #111111;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 18px;
                        letter-spacing: -0.02em;
                        text-align: left;
                        
                    }
                }
            }
        }
    }

    .videoblog__line {
        background-color: #D9D9D9;
        height: 51px;
        width: 100%; 
        margin-top: 36px;
    }
}
